// buttons 
.btn-holder{
    display: flex;
    padding: 3px 5px 0px 0px;
    width: 100%;
    .btn{
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        border: none;
        min-height: 35px;
        font-size: 13px;
        font-family: 'Biennale';
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        a:link { text-decoration: none; }
        a:visited { text-decoration: none; }
        a:hover { text-decoration: none; }
        a:active { text-decoration: none; }
    }
    .btn:focus{
        border: none !important;
        outline: none !important;
    }
    .btn-block{
        width: 100%;
    }
    .btn-success{
        background-color: $main-blue;
        color: #FFFFFF;
        a{
            color: #FFFFFF;
            width: 100% !important;

        }
    }
    .btn-primary{
        background-color: $primary;
        color: $subtitle-gray;
        a{
            color: $subtitle-gray;
            width: 100% !important;
        }
    }
}