@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Black.woff2') format('woff2'),
        url('./../fonts/Biennale-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Black It';
    src: url('./../fonts/Biennale-BlackIt.woff2') format('woff2'),
        url('./../fonts/Biennale-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Bold It';
    src: url('./../fonts/Biennale-BoldIt.woff2') format('woff2'),
        url('./../fonts/Biennale-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Bold.woff2') format('woff2'),
        url('./../fonts/Biennale-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Book';
    src: url('./../fonts/Biennale-Book.woff2') format('woff2'),
        url('./../fonts/Biennale-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Book It';
    src: url('./../fonts/Biennale-BookIt.woff2') format('woff2'),
        url('./../fonts/Biennale-BookIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Hair';
    src: url('./../fonts/Biennale-Hair.woff2') format('woff2'),
        url('./../fonts/Biennale-Hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Hair It';
    src: url('./../fonts/Biennale-HairIt.woff2') format('woff2'),
        url('./../fonts/Biennale-HairIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Heavy It';
    src: url('./../fonts/Biennale-HeavyIt.woff2') format('woff2'),
        url('./../fonts/Biennale-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Heavy.woff2') format('woff2'),
        url('./../fonts/Biennale-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Light.woff2') format('woff2'),
        url('./../fonts/Biennale-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Light It';
    src: url('./../fonts/Biennale-LightIt.woff2') format('woff2'),
        url('./../fonts/Biennale-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Medium It';
    src: url('./../fonts/Biennale-MediumIt.woff2') format('woff2'),
        url('./../fonts/Biennale-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Medium.woff2') format('woff2'),
        url('./../fonts/Biennale-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale It';
    src: url('./../fonts/Biennale-RegularIt.woff2') format('woff2'),
        url('./../fonts/Biennale-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale SemiBold It';
    src: url('./../fonts/Biennale-SemiBoldIt.woff2') format('woff2'),
        url('./../fonts/Biennale-SemiBoldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-SemiBold.woff2') format('woff2'),
        url('./../fonts/Biennale-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Regular.woff2') format('woff2'),
        url('./../fonts/Biennale-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale';
    src: url('./../fonts/Biennale-Thin.woff2') format('woff2'),
        url('./../fonts/Biennale-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Ultra';
    src: url('./../fonts/Biennale-UltraLight.woff2') format('woff2'),
        url('./../fonts/Biennale-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale Thin It';
    src: url('./../fonts/Biennale-ThinIt.woff2') format('woff2'),
        url('./../fonts/Biennale-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Biennale UltraLight It';
    src: url('./../fonts/Biennale-UltraLightIt.woff2') format('woff2'),
        url('./../fonts/Biennale-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

