@import './fonts.scss';
@import './variables.scss';
@import './navbar.scss';
@import './components.scss';
@import './pages/pages.scss';
body{
    background-color: $main-bg;
    font-family: $main-font;
    font-weight: 600;
    margin: 0;
    .wrapper{
        width: 100%;
        .container{
            margin: auto;
            margin-top: 65px;
            width: 90%;
        }
    }
}